/* 1. Theme default css */

@import url('https://fonts.googleapis.com/css?family=Barlow:200,300,400,500,600,700,800,900|Teko:300,400,500,600,700&display=swap');
body {
	font-family: $font_2;
	font-weight: normal;
	font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font_1;
	color: #0b1c39;

	margin-top: 0px;
	font-style: normal;
	font-weight: 500;
	text-transform: normal;
}
p {
	font-family:$font_2;
	color: $font_1;

	font-size: 16px;
	line-height: 24px;
	margin-bottom: 15px;
	font-weight: normal;
}

// background-image
.bg-img-1{
    background-image: url(../img/slider/slider-img-1.jpg);
}
.bg-img-2{
    background-image: url(../img/background-img/bg-img-2.jpg);
}
.cta-bg-1{
    background-image: url(../img/background-img/bg-img-3.jpg);

}

.img {
	max-width: 100%;
	@include transition(.3s);
}
.f-left {
	float: left
}
.f-right {
	float: right
}
.fix {
	overflow: hidden
}
.clear{
    clear: both;
}

a,
.button {
	@include transition(.3s);
}
a:focus,
.button:focus {
	text-decoration: none;
	outline: none;
}
a{
	color: rgb(99, 92, 92);
}
a:hover{
	color: #fff;
}
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
	text-decoration: none;
}
a,
button {
	color: #fff;
	outline: medium none;
}
a,
button {
	color: #1696e7;
	outline: medium none;
}
button:focus,input:focus,input:focus,textarea,textarea:focus{outline: 0}
.uppercase {
	text-transform: uppercase;
}

input:focus::-moz-placeholder {
	opacity: 0;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}

.capitalize {
	text-transform: capitalize;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}

ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}

hr {
	border-bottom: 1px solid #eceff8;
	border-top: 0 none;
	margin: 30px 0;
	padding: 0;
}

/* Theme-overlay */
.theme-overlay {
	position: relative
}
.theme-overlay::before {
	background: #1696e7 none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.6;
	position: absolute;
	top: 0;
	width: 100%;
}
.overlay{
	position: relative;
	z-index: 0;
}
.overlay::before{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	@extend %overlay;
}
.overlay2{
	position: relative;
	z-index: 0;
}
.overlay2::before{
	position: absolute;
	content: "";
	background-color: #2E2200;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0.5;
}

// Section Padding
	.section-padding{
		padding-top: 120px;
		padding-bottom: 120px;
	}
	.separator {
		border-top: 1px solid #f2f2f2
	}

	.mb-90{
		margin-bottom: 90px;
		@media #{$mobile_device}{
			margin-bottom: 30px;
		}
		@media #{$tablet_device}{
			margin-bottom: 45px;
		}
	}

/* owl-carousel button style */
.owl-carousel {
	.owl-nav div {
	background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
	height: 40px;
	left: 20px;
	line-height: 40px;

	font-size: 22px;
	color: #646464;
	opacity: 1;
	visibility: visible;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.3s ease 0s;
	width: 40px;
	}
	.owl-nav{
		div{
			&.owl-next{
				left: auto;
				right: -30px;
				i{
					position: relative;
					right: 0;
					top: 1px;
				}
			}
			&.owl-prev{
				i{
					position: relative;
					right: 1px;
					top: 0px;
				}
			}
		}
	}
	&:hover{
		.owl-nav{
			div{
				opacity: 1;
				visibility: visible;
				&:hover{
					color: #fff;
					background: $theme-color4;
				}
			}
		}
	}
}

.btn {
	background: $btn_bg;
	-moz-user-select: none;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 0;
	margin-bottom: 0;
	padding:25px 22px;
	margin: 10px;
	cursor: pointer;
	transition: color 0.4s linear;
	position: relative;
	z-index: 1;
	border: 0;
	overflow: hidden;
	margin:0;
	border-radius: 5px;

&::before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 101%;
	height: 101%;
	background:#e25311;
	z-index: 1;
	
	transition: transform 0.5s;
	transition-timing-function: ease;
	transform-origin: 0 0;
	transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
	// 
	transform: scaleX(0);
	border-radius: 0px;
}
}
.btn:hover::before {
	transform: scaleX(1);
	color: #fff !important;
	z-index: -1;
}

.btn.focus, .btn:focus {
	outline: 0;
	box-shadow:none; 
}

.red-btn2{
	text-transform: uppercase;
	font-family: $font_3;
	padding: 30px 51px;
	font-size: 16px;
}


.white-btn {
	background:#fff;
	-moz-user-select: none;
	text-transform: uppercase;
	color: #161e46;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 0;
	margin-bottom: 0;
	padding:25px 22px;
	margin: 10px;
	cursor: pointer;
	transition: color 0.4s linear;
	position: relative;
	z-index: 1;
	border: 0;
	overflow: hidden;
	margin:0;
	border-radius: 0px;
	&::before{
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 101%;
		height: 101%;
		background:$theme-color;
		z-index: 1;
		
		transition: transform 0.5s;
		transition-timing-function: ease;
		transform-origin: 0 0;
		transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
		// 
		transform: scaleY(0);
		border-radius: 0px;
	}
}

.white-btn:hover::before {
	transform: scaleY(1);
	color: #161e46 !important;
	z-index: -1;
}

	// Hero Btn
	.btn.hero-btn{
		position: relative;
		box-shadow: -8px 8px 0 #ca611b;
		&:hover{
			box-shadow: 8px 8px 0 #ca611b;
		}
	}
	// Services Arrow Btn
	.arrow-btn{
		background:#f27420;
		padding: 19px 15px;
		display: inline-block;
		line-height: 0;
		position: absolute;
		right: 0;
		bottom: 0;
	}

	.btn.focus, .btn:focus {
		outline: 0;
		box-shadow:none; 
	}

// Custom Btn








/* button style */
	.breadcrumb > .active {
		color: #888;
	}
/* scrollUp */
	#scrollUp {
		background:$theme-color;
		height: 50px;
		width: 50px;
		right: 31px;
		bottom: 40px;
		@media #{$xs}{
			right: 16px;
		}
		color: #fff;
		font-size: 20px;
		text-align: center;
		border-radius: 50%;
		line-height: 48px;
		border: 2px solid transparent;
	}

	#scrollUp:hover {
		color: #fff;
	}

/* Sticky*/
	.sticky-bar {
		left: 0;
		margin: auto;
		position: fixed;
		top: 0;
		width: 100%;
		-webkit-box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
		box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
		z-index: 9999;
		-webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
		animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
		-webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
		background: #fff;
		// padding-left: 85px;
		// padding-right: 85px;
	}
/* Sticky end */






/*--- Margin & Padding --*/

	/*-- Margin Top --*/
	@for $i from 1 through 40 {
		.mt-#{5 * $i}{margin-top: 5px * $i;}
	}

	/*-- Margin Bottom --*/
	@for $i from 1 through 40 {
		.mb-#{5 * $i}{margin-bottom: 5px *$i;}
	}
	/*-- Margin Left --*/
	@for $i from 1 through 40 {
		.ml-#{5 * $i}{margin-left: 5px * $i;}
	}

	/*-- Margin Right --*/
	@for $i from 1 through 40 {
		.mr-#{5 * $i}{margin-right: 5px *$i;}
	}

	/*-- Padding Top --*/
	@for $i from 1 through 40 {
		.pt-#{5 * $i}{padding-top: 5px *$i;}
	}
	.pt-260{
		padding-top: 260px;
	}
	/*-- Padding Bottom --*/
	@for $i from 1 through 40 {
		.pb-#{5 * $i}{padding-bottom: 5px *$i;}
	}

	/*-- Padding Left --*/
	@for $i from 1 through 40 {
		.pl-#{5 * $i}{padding-left: 5px *$i;}
	}

	/*-- Padding Right --*/
	@for $i from 1 through 40 {
		.pr-#{5 * $i}{padding-right: 5px *$i;}
	}


// others common css here :)



/*-- Some Animated CSS -- */

/* bounce-animate */
.bounce-animate{
	animation-name: float-bob;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	/* animation-timing-function: linear; */
	-moz-animation-name: float-bob;
	-moz-animation-duration: 2s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: float-bob;
	-ms-animation-duration: 2s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	-o-animation-name: float-bob;
	-o-animation-duration: 2s;
	-o-animation-iteration-count: infinite;
	-o-animation-timing-function: linear;
	}
  @-webkit-keyframes float-bob {
	0% {
	  -webkit-transform: translateY(-20px);
	  transform: translateY(-20px); }
	50% {
	  -webkit-transform: translateY(-10px);
	  transform: translateY(-10px); }
	100% {
	  -webkit-transform: translateY(-20px);
	  transform: translateY(-20px); } }
	  
/* heartbeat */
	.heartbeat {
		animation: heartbeat 1s infinite alternate;
	}

	@-webkit-keyframes heartbeat {
		to {
			-webkit-transform: scale(1.03);
			transform: scale(1.03);
		}
	}

/* rotateme */
	.rotateme {
		-webkit-animation-name: rotateme;
		animation-name: rotateme;
		-webkit-animation-duration: 30s;
		animation-duration: 30s;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
	}
	@keyframes rotateme {
		from {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		to {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}

	@-webkit-keyframes rotateme {
		from {
			-webkit-transform: rotate(0deg);
		}

		to {
			-webkit-transform: rotate(360deg);
		}
	}

/* 20. preloader */
	.preloader {
		background-color: #f7f7f7;
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 999999;
		-webkit-transition: .6s;
		-o-transition: .6s;
		transition: .6s;
		margin: 0 auto;
	}

	.preloader .preloader-circle {
		width: 100px;
		height: 100px;
		position: relative;
		border-style: solid;
		border-width: 1px;
		border-top-color:$theme-color;
		border-bottom-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
		z-index: 10;
		border-radius: 50%;
		-webkit-box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
		box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
		background-color: #ffffff;
		-webkit-animation: zoom 2000ms infinite ease;
		animation: zoom 2000ms infinite ease;
		-webkit-transition: .6s;
		-o-transition: .6s;
		transition: .6s;
	}
	.preloader .preloader-circle2 {
		border-top-color: #0078ff;
	}
	.preloader .preloader-img {
		position: absolute;
		top: 50%;
		z-index: 200;
		left: 0;
		right: 0;
		margin: 0 auto;
		text-align: center;
		display: inline-block;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		padding-top: 6px;
		-webkit-transition: .6s;
		-o-transition: .6s;
		transition: .6s;
	}

	.preloader .preloader-img img {
		max-width: 95px;
		width: 95px;
	}
	.preloader .pere-text strong{
		font-weight: 800;
		color:#dca73a ;
		text-transform: uppercase;
	}
	@-webkit-keyframes zoom {
		0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .6s;
			-o-transition: .6s;
			transition: .6s;
		}

		100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
			-webkit-transition: .6s;
			-o-transition: .6s;
			transition: .6s;
		}
	}

	@keyframes zoom {
		0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .6s;
			-o-transition: .6s;
			transition: .6s;
		}

		100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
			-webkit-transition: .6s;
			-o-transition: .6s;
			transition: .6s;
		}
	}


/*-- Section Padding -- */

	.section-padding2{
		padding-top: 200px;
		padding-bottom: 200px;
		@media #{$laptop}{
			padding-top: 200px;
			padding-bottom: 200px;
		}
		@media #{$lg}{
			padding-top: 200px;
			padding-bottom: 200px;
		}
		@media #{$md}{
			padding-top: 100px;
			padding-bottom: 100px;
		}
		@media #{$sm}{
			padding-top: 50px;
			padding-bottom: 50px;
		}
		@media #{$xs}{
			padding-top: 35px;
			padding-bottom: 50px;
		}
	}
	.section-padding30{
		padding-top: 83px;
		padding-bottom: 70px;
		@media #{$laptop}{
			padding-top: 83px;
			padding-bottom: 70px;
		}
		@media #{$lg}{
			padding-top: 150px;
			padding-bottom: 120px;
		}
		@media #{$md}{
			padding-top: 100px;
			padding-bottom: 70px;
		}
		@media #{$sm}{
			padding-top: 70px;
			padding-bottom: 20px;
		}
		@media #{$xs}{
			padding-top: 70px;
			padding-bottom: 20px;
		}
	}

	.testimonial-padding{
		padding-top: 157px;
		padding-bottom: 157px;

		@media #{$laptop}{
			padding-top: 157px;
			padding-bottom: 157px;
		}
		@media #{$lg}{
			padding-top: 120px;
			padding-bottom: 120px;
		}
		@media #{$md}{
			padding-top: 100px;
			padding-bottom: 100px;
		}
		@media #{$sm}{
			padding-top: 80px;
			padding-bottom: 60px;
		}
		@media #{$xs}{
			padding-top: 80px;
			padding-bottom: 60px;
		}
	}


	.footer-padding{
		padding-top: 130px;
		padding-bottom: 100px;
		@media #{$laptop}{
			padding-top: 130px;
			padding-bottom: 100px;
		}
		@media #{$lg}{
			padding-top: 100px;
			padding-bottom: 50px;
		}
		@media #{$md}{
			padding-top: 100px;
			padding-bottom: 0px;
		}
		@media #{$sm}{
			padding-top: 50px;
			padding-bottom: 0px;
		}
		@media #{$xs}{
			padding-top: 50px;
			padding-bottom: 0px;
		}
	}

		
// section Tittle
.section-tittle{
	position: relative;
	@media #{$xs}{
		margin-bottom: 0px;
	}
	.front-text{
		position: relative;
		z-index: 2;
			h2{
				color: $heading_color;
				font-size: 70px;
				font-weight: 700;
				line-height: 1.2;
				text-transform: uppercase;
				font-family:$font_3;

				@media #{$xs}{
					font-size: 40px;
					line-height: 1.4;
					// margin-bottom: 50px;
				}
				@media #{$sm}{
					font-size: 40px;
					line-height: 1.4;
					// margin-bottom: 50px;
				}
			}
	}
	span.back-text{
		font-size: 140px;
		font-weight: 800;
		text-transform: uppercase;
		-webkit-text-stroke: 1px #f6f7f8;
		-webkit-text-fill-color: transparent;
		margin: 0;
		line-height: 1;

		// Back style
		position: absolute;
		transform: translateY(-114%);
		right: 0;
		left: 12px;
		@media #{$xs}{
			font-size: 56px;
			transform: translateY(-136%);
		}
		@media #{$sm}{
			font-size: 56px;
			transform: translateY(-136%);
		}
		@media #{$lg}{
			font-size: 127px;
		}
	}
	
	// section tittle tow
	&.section-tittle2{
		.front-text{
				h2{
					font-size: 100px;

					@media #{$xs}{
						font-size: 40px;
					}
					@media #{$sm}{
						font-size: 40px;
					}
				}
			}
		span.back-text{
			transform: translateY(-123%);
			@media #{$laptop}{
				font-size: 119px;
			}
			@media #{$big_screen}{
				font-size: 119px;
			}
			@media #{$big_screen2}{
				font-size: 112px
			}
			@media #{$xs}{
				font-size: 56px;
				transform: translateY(-136%);
			}
			@media #{$sm}{
				font-size: 56px;
				transform: translateY(-136%);
			}
			@media #{$md}{
				font-size: 117px;
				transform: translateY(-128%);
			}
			@media #{$lg}{
				font-size: 117px;
				transform: translateY(-118%);
			}
		}
	}
	&.section-tittle3{
		.front-text{
				h2{
					font-size: 70px;
					@media #{$xs}{
						font-size: 40px;
					}
				}
			}
		span.back-text{
			transform: translateY(-114%);
			@media #{$xs}{
				font-size: 56px;
				transform: translateY(-136%);
			}
			@media #{$sm}{
				font-size: 98px;
				transform: translateY(-131%);
			}
		}
	}
	&.section-tittle4{
		.front-text{
				h2{
					font-size: 70px;
					color: #fff;
					@media #{$xs}{
						font-size: 35px;
					}
					@media #{$sm}{
						font-size: 40px;
					}
				}
			}
		span.back-text{
			-webkit-text-stroke: 1px rgba(255, 255, 255,.2);
			transform: translateY(-113%);
			@media #{$xs}{
				font-size: 56px;
				transform: translateY(-129%);
			}
			@media #{$sm}{
				font-size: 56px;
				transform: translateY(-130%);
			}
			@media #{$md}{
				font-size: 117px;
				transform: translateY(-118%);
			}
			@media #{$lg}{
				font-size: 117px;
				transform: translateY(-113%);
			}
		}
	}
	&.section-tittle6{
		.front-text{
				h2{
					font-size: 70px;
					color: #fff;
					@media #{$xs}{
						font-size: 40px;
					}
				}
			}
		span.back-text{
			-webkit-text-stroke: 1px rgba(255, 255, 255,.2);
			transform: translateY(-113%);
			@media #{$xs}{
				font-size: 56px;
				transform: translateY(-136%);
			}
			@media #{$sm}{
				font-size: 83px;
				transform: translateY(-137%);
			}
		}
	}

}


// small-section-tittle
.small-section-tittle{
    & h4{
        color: $heading_color;
		font-size: 18px;
		font-weight: 600;
		line-height: 1.2;
		margin-bottom: 20px;
		
        @media #{$xs}{
			
        }
    }
}
