.project-area,.about-area,.contact-section{
    
    .project-caption{
        .single-project{
            position: relative;
            .project-img{
                img{
                    width: 100%;
                }
            }
            .project-cap{
                padding: 20px 20px;
                background:#fafafa;
                @include transition(.4s);
                position: relative;
                h4{   
                    margin: 0;
                    line-height: 1.2; 
                    font-size: 25px;
                    font-weight: 700;    

                    a{
                        color: #0e132a;
                        &:hover{
                            color: $theme-color;
                        }
                    }
                }
            }
            &:hover{
                .project-cap{
                  
                }
            }
            // plus Btn
            .plus-btn {
                position: absolute;
                right: 16px;
                top: -22px;
                display: inline-block;
                opacity: 0;
                visibility: hidden;
                @include transition(.3s);
                i {
                    color: #161e46;
                    background: transparent;
                    width: 38px;
                    height: 38px;
                    display: inline-block;
                    line-height: 38px;
                    text-align: center;
                    font-size: 15px;
                    margin-left: 10px;
                    -webkit-transition: all .4s ease-out 0s;
                    -moz-transition: all .4s ease-out 0s;
                    -ms-transition: all .4s ease-out 0s;
                    -o-transition: all .4s ease-out 0s;
                    transition: all .4s ease-out 0s;
                }
            }
            // Hover Single
            &:hover {
                .project-cap{
                    background: #00235b;
                    h4{                   
                        a{
                            color: #fff;
                        }
                    }
                }
                .plus-btn {
                    opacity: 1;
                    visibility: visible;
                    i {
                        color: #fff;
                        background: #205C6C;
                    }
                }
            }

        }
        
    }
        

    // Tabs Button Style
    .properties__button{
        float: right;
        @media #{$md}{
            float: left;
        }
         @media #{$sm}{
            float: left;
        } 
        @media #{$xs}{
            float: left;
        }
    }
        .nav-tabs .nav-link {
            border: 0;
            border-bottom: 2px solid transparent;
            padding: 10px 20px;
            @media #{$lg}{
                padding: 10px 10px;
            }
            @media #{$md}{
                padding: 10px 15px;
            }
             @media #{$sm}{
                padding: 10px 15px;
            } 
            @media #{$xs}{
                padding: 10px 15px;
            }
        }
        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
            color: $theme-color;
            background: none;
        }
        .nav-tabs .nav-item {
           // padding-bottom: 10px;
            display: block;
            color: #161e46;
            font-weight: 500;
            text-transform: capitalize;
            font-size: 16px;
        }
        .nav-tabs {
            margin-bottom: 9px;
            padding-bottom: 0px;
            position: relative;
            border: 0;
            display: flex;
            justify-content: center;
            @media #{$md}{
                justify-content: start;
            } 
            @media #{$sm}{
                justify-content: start;
            } 
            @media #{$xs}{
                justify-content: start;
            }
    }
}

.tab-pane{
    @include transition(.6s);
}