.support-company-area{
	padding-top: 183px;

	.support-wrapper{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		@media #{$lg}{
			display: block;
		}
		// Left Content
		.left-content{
			width: 54%;
			// padding-left: 366px;

			@media #{$laptop}{
				width: 49%;
			}
			@media #{$big_screen}{
				padding-left: 30px;
				width: 49%;
			}
			@media #{$big_screen2}{
				padding-left: 200px;
				width: 49%;
			}
			@media #{$lg}{
				width: 100%;
				padding-left: 120px;
			}
			@media #{$md}{
				width: 100%;
				padding-left: 30px;
			}
			@media #{$sm}{
				width: 100%;
				padding-left: 30px;
			}
			@media #{$xs}{
				width: 100%;
				padding-left: 30px;
			}
			// Left Content
			.support-caption{
				padding-right: 144px;
				@media #{$xs}{
					padding-right: 0px;
				}
				@media #{$sm}{
					padding-right: 0px;
				}
				@media #{$lg}{
					padding-right:70px;
				}
				p{
					margin-bottom: 46px;
					font-size: 15px;
				}
				p.pera-top{
					font-size: 17px;
					font-weight: 700;
					color: #0b0b2b;
				}
			}
		}
		// Right Content
		.right-content{
			width: 40%;
			@media #{$laptop}{
				width: 49%;
			}
			@media #{$lg}{
				width: 80%;
				margin-left: 119px;
				padding-top: 50px;
			}
			@media #{$md}{
				width: 80%;
				padding-top: 50px;
			}
			@media #{$lg}{
				width: 100%;
				padding-top: 50px;
			}
			@media #{$md}{
				width: 100%;
				padding-top: 50px;
			}
			@media #{$sm}{
				width: 100%;
				padding-top: 50px;
			}
			@media #{$xs}{
				width: 100%;
				padding-top: 50px;
			}

			position: relative;
			.right-img{
				img{
					width: 100%;
				}
			}
			.support-img-cap{
				position: absolute;
				bottom: 0px;
				background: #1f2b7b;
				padding:59px 28px;
				border-radius: 5px;
				@media #{$lg}{
					padding: 27px 18px;
					// left: -59px;
				}
				@media #{$xs}{
					// left: 0px;
					padding: 35px 0px;
				}
				@media #{$sm}{
					// left: 0px;
					padding: 35px 18px;
				}
				@media #{$md}{
					// left: 0px;
					padding: 35px 18px;
				}
				span{
				
					font-size: 60px;
					color:#fff;
					text-transform: uppercase;
					font-weight: 700;
					font-family: $font_1;
					line-height: 1.2;
					@media #{$xs}{
						padding:6px 40px;
						font-size: 38px;
					}
					@media #{$lg}{
						font-size: 35px;
					}
					@media #{$md}{
						font-size: 35px;
					}
					@media #{$sm}{
						font-size: 35px;
					}

				}
				P{
					color: #fff;
					line-height: 1;
					margin: 0;
					font-size: 16px;
					text-transform: uppercase;
					letter-spacing: .5em;
				}
			}
		
		}
	}
}


.support-company-area{
	// background-image: url(../img/gallery/safe_in.png);
	// background-size: 40%;
	// background-repeat: no-repeat;
	// background-position: right;
	padding-top: 183px;

	.left-content{

	}
	.right-content
	{
	
	}
}


