
.single-team{
    .team-img{
        overflow: hidden;
        margin-bottom: 19px;
        & img{
            width: 100%;
            transform:scale(1);
            transition: all 0.6s ease-out 0s;
        }
    }
    .team-caption{
        & span{
            color:#205C6C;
            font-size: 14px;
            font-weight: 500;
            font-family: $font_3;
            display: block;
            position: relative;
            margin-left: 30px;
            margin-bottom: 10px;
            &::before {
                position: absolute;
                content: "";
                width: 25px;
                height: 2px;
                top: 0;
                left: -30px;
                top: 50%;
                transform: translateY(-50%);
                background: 
                #205C6C;
            }
        }
        & h3{
            color: $heading-color;
            font-weight: 700;
            font-size: 25px;
            font-family: $font_3;
        }
    }
}

.single-team:hover .team-img img {
	transform:scale(1.1);
}